@{
    var username = Request["username"];
    
    if( username == null ) {
        Response.Redirect( "~/Default.cshtml" );
    }

    var db = Database.Open( "Testsite" );
    var query = "SELECT LoggedIn from Users WHERE Username=@0";
    var row = db.QuerySingle( query, username );

    if( row == null || !row.loggedIn ) {
        //Set error message
        Response.Redirect( "~/Default.cshtml" );
    } 
    
    var id = Request["id"];
    var link = Request["link"];
    var title = Request["title"];
    var numComments = Request["numComments"];
    var media = Request["media"];

    query = "INSERT INTO StarredFeeds ( id, link, title, numComments, media, username ) VALUES ( @0, @1, @2, @3, @4, @5 )";
    db.Execute( query, id, link, title, numComments, media, username );
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        
    </body>
</html>
